@CHARSET "ISO-8859-1";

@font-face {
	font-family: lord;
	src: url('fonts/RINGM___.TTF');
}

@font-face {
	font-family: text;
	src: url('fonts/MorrisRoman-Black.ttf');
}

* {

	}

body {
	font-size: 1.5em;
	font-family: text;
	color: #fff;
	background-size: cover;
	background: url('images/bg.jpg') no-repeat center center fixed;
}

#board {
	background: rgba(0, 0, 0, 0.8);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 760px;
	height: 550px;
}

#title {
	height: 150px;
}

#center {
	width: 458px;
	height: 200px;
	float: left;
}



.side {
	float: left;
	width: 150px;
}

.row {
	width: 760px;
	float: left;
}

.tile {
	width: 150px;
	height: 100px;
	float: left;
	background: #fff;
	color: #000;
	border: 1px solid #000;
	background-size: 150px 100px !important;
}

.tile span {
	background: #fff;
	padding: 3px;
	border: 1px solid black;
}

.tokens {
	float: left;
	padding-bottom: 1%;
}

.player {
	float: left;
    margin: 5px;
	border-radius: 50%;
	border: 3px solid #868686;
	width: 20px;
	height: 20px;
}

.redx {
	display: none;
	margin-top: 20px;
	position: absolute;
	background: url('images/x.png');
	width: 80px;
	height: 80px;
	background-size: 100% 100%;
}