@CHARSET "ISO-8859-1";

@font-face {
    font-family: lord;
    src: url('fonts/RINGM___.TTF');
}

@font-face {
	font-family: text;
	src: url('fonts/MorrisRoman-Black.ttf');
}

body {
	font-size: 1.5em;
	font-family: text;
	color: #fff;
	background-size: cover;
	background: url('images/bg.jpg') no-repeat center center fixed;
}

h1 {
	font-family: lord;
	text-align: center;
	color: white;
}

h1 {color: #39f !important;}
@-webkit-keyframes colours {
     0% {color: #39f;}
     25% {color: #8bc5d1;}
     50% {color: #f8cb4a;}
     75% {color: #8bc5d1;}
    100% {color: #39f;}

}
@-moz-keyframes colours {
     0% {color: #39f;}
     25% {color: #8bc5d1;}
     50% {color: #f8cb4a;}
     75% {color: #8bc5d1;}
    100% {color: #39f;}

}

h1 {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: colours;
    -webkit-animation-timing-function: ease;
    -moz-animation-direction: normal;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: colours;
    -moz-animation-timing-function: ease;
}

#main {
	background: rgba(0, 0, 0, 0.6);
	padding: 15px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input[type="submit"] {
	border: 1px solid #585858;
    border-radius: 10px;
	width: 80px;
	height: 60px;
	font-size: 32px;
	color: #9C0F0F;
	background: #3C1212;
	background-size: 70px 50px;
}

input[type="submit"]:hover {
	transition: all 1s ease-in;
	cursor: pointer;
	background: url('images/sword.gif') no-repeat center  #3C1212;
	background-size: 70px 50px;
	color: rgba(0,0,0,0);
}

.footer {
	font-family: arial;
	font-size: 18px;
	color: rgba(154, 154, 154, 0.6);
}